@charset "UTF-8";
@import "../sassCore/function";
@import "../sassCore/ext/font-face/font-face";
@include font-face("dry_brushregular", "../fonts/dry_brush-webfont", "sans-serif");
/*Bootstrap*/
a:hover,
a:focus{
	color:#23527c;
	text-decoration:none;
}
a:focus{
	outline:none;
	//outline: 5px auto -webkit-focus-ring-color;
	//outline-offset: -2px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3{
	margin-top:0px;
	margin-bottom:0px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6{
	margin-top:0px;
	margin-bottom:0px;
}
@mixin placeholderColor($color:#909) {
	/*WebKit browsers*/
	&::-webkit-input-placeholder{
		color:$color;
	}
	/* Mozilla Firefox 4 to 18 */
	&:-moz-placeholder{
		color:$color;
		opacity:1;
	}
	/* Mozilla Firefox 19+ */
	&::-moz-placeholder{
		color:$color;
		opacity:1;
	}
	/* Internet Explorer 10+ */
	&:-ms-input-placeholder{
		color:$color;
	}
}
/*body*/
body{
	background:url("../img/header_bg.png") repeat-x;
}
/*wrapper*/
#wrapper{
	width:100%;
	margin:0 auto;
}
/*header*/
header{
	width:100%;
	height:40px;
	position:relative;
	#logo{
		width:20%;
		height:40px;
		position:absolute;
		top:0;
		left:0;
		h1{
			margin:0;
			a{
				display:block;
				@extend %dry_brushregular;
				width:60%;
				font-size:36px;
				line-height:36px;
				font-weight:900;
				letter-spacing:-1px;
				color:#4eb8ea;
				text-align:center;
				margin:0 auto;
				padding:4px 0 0 0;
				&:hover{
					color:nth($infoColor, 1);
					@include box-shadow;
					text-decoration:none;
				}
			}
		}
	}
	#search{
		position:relative;
		top:6%;
		left:20%;
		width:40%;
		height:34px;
		.input-group{
			width:80%;
			margin:0 auto;
			.input-group-btn{
				.btn{
					height:34px;
				}
			}
			.form-control{
				padding:6px;
				width:100%;
				&:focus{
					width:120%;
				}
				@include transition-property(width, border-color, box-shadow);
				@include transition-duration(0.15s);
				@include transition-timing-function(ease-in-out);
				@include transition-delay(0s);
				@include placeholderColor;
			}
			.input-group-btn:nth-last-child(2) > .btn{
				border-radius:0;
			}
			.input-group-btn:nth-last-child(1) > .btn{
				border-bottom-left-radius:0;
				border-top-left-radius:0;
				margin-left:-1px;
			}
		}
	}
	#login{
		position:absolute;
		top:0;
		right:10%;
		height:40px;
		line-height:40px;
		a{
			color:#555;
			font-size:14px;
			margin:0 5px;
			span{
				margin-right:5px;
			}
			&:hover{
				color:nth($successColor, 3);
			}

		}
		#reg{
			@include font-icon(sign-in);
		}
		#log{
			@include font-icon(check);
		}
		#member{
			@include font-icon(user);
			//@include disabled;
		}
		#logout{
			@include font-icon(sign-out);
			//@include disabled(#eee, #bbb);
		}
	}
}
#regBox{
	.modal-footer{
		#regWarn{
			height:34px;
			line-height:34px;
			margin:0;
			display:inline-block;
		}
		#regDiv{
			display:inline-block;
			height:34px;
			line-height:34px;
			margin:0;
		}
	}

}
.popover{
	white-space:nowrap;
}
.invalid{
	border:2px solid rgba(253, 8, 8, 0.49) !important;
	background:url("../img/invalid.png") no-repeat right !important;
	padding-right:3px !important;
}
.valid{
	border:2px solid rgba(45, 200, 40, 0.39) !important;
	background:url("../img/valid.png") no-repeat right !important;
	padding-right:3px !important;
}
#logBox{
	#logWarn{
		height:34px;
		line-height:34px;
		margin:0;
		display:inline-block;
	}
	#logDiv{
		display:inline-block;
		height:34px;
		line-height:34px;
		margin:0;
	}
}

#quesBox{
	#quesWarn{
		height:34px;
		line-height:34px;
		margin:0;
		display:inline-block;
	}
	#quesDiv{
		display:inline-block;
		height:34px;
		line-height:34px;
		margin:0;
	}
}

/*我发布的问题*/
.myQues{
	padding: 15px 0;
	h4{
		color:#666;
	}
	h3{
		color:#369;
		margin: 10px 0;
	}
	hr{
		color:#ccc;
		height:3px;
	}
}

.quesContent{
	line-height:180%;
	color:#333;
}
.quesFooter{
	padding:10px 0;
	color:#369;
	cursor:pointer;
	overflow: hidden;
}
.showComment{
	float:left;
}
.hideContent{
	float:right;
}
.showAllContent{
	color:#369;
	cursor:pointer;
}

.commentList{
	border:1px solid #ccc;
	border-radius:4px;
	padding:5px 10px;
	margin-bottom: 10px;
	display: none;
	dl{
		margin:0;
		padding:3px 0px 5px 0;
		dt{
			margin:0;
			padding:5px 0 0 0;
			color:#369;
		}
		dd{
			margin:0;
			padding:0;
			color:#333;
			line-height:180%;
			.date{
				color:#666;
			}
		}
		.comment_content{
			border-bottom:1px solid #ccc;
		}
	}
}
.comment_add{
	text-align:right;
	textarea{
		width:98%;
		border:1px solid #ccc;
		border-radius:4px;
		background:#fff;
		padding:5px;
		font-size:12px;
		color:#666;
		margin:0 0 5px 0;
		resize:none;
	}
	input{
		cursor:pointer;
	}
}
.comment_load dd{
	background:url(../img/comment_load.gif) no-repeat 100px center ;
}
.load_more {
	width:100%;
	margin:10px 0 0 0;
	height:30px;
	line-height:30px;
	img {
		padding:5px 0 0 0;
	}
}


